/* H1 Page Title has larger font */
h1.page-title {
    font-size: 300%;
}
/* Page header has darker thicker dividing line */
.page-header {
    border-bottom: 2px solid #000;
}
.page-header h1 {
    border-bottom: 0px;
}

.debug-border-red {
/*
    border: 1px solid #f00;
*/
}

.debug-border-green {
/*
    border: 1px solid #0f0;
*/
}

.debug-border-blue {
/*
    border: 1px solid #00f;
*/
}

.debug-border-black {
/*
    border: 1px solid #000;
*/
}

/* Global topbar */
.harth-topbar-global {
    background-color: #990d0d;
    color: #ddd;
}
.harth-row-global {
}

/* Local topbar */
.harth-topbar-local {
    background-color: #990d0d;
    color: #ddd;    
}
.harth-row-local {
}

/* Mid row (sidebar and content) */
.harth-row-mid {
}

/* Sidebar */
.harth-sidebar-top {
    margin-top: 20px;
    margin-bottom: 10px;
}
.harth-site-title {
    color: #fff;
    font-size: 200%;
}
.harth-site-author {
    color: #ddd;
    font-size: 110%;
}
.harth-sidebar {
    color: #ddd;
    background-color: #990d0d;
}
/* fixed sidebar at top, left, stretch sidebar to height of display */
@media screen and (min-width: 768px) {
    .harth-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	display: block;
    }
    .harth-content {
	margin-left: 25%;
    }
}
@media screen and (max-width: 768px) {
    .harth-content {
    }
}
.harth-sidebar a {
    color: #fff;    
}
.harth-sidebar li {
    color: #aaa;
}

/* Content */
.harth-content {
}

/* Headings are coloured red, h1 has underline */
h1 {
    border-bottom: 1px solid #ccc;
}
h1,h2,h3,h4,h5 {
    color: #c00;
}

/* Labels */
.harth-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
a.harth-label:hover,
a.harth-label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.harth-label:empty {
    display: none;
}

.harth-post-title,
.harth-post-title a {
    color: #303030;
}
.harth-post-title {
    margin-top: 0;
}

.harth-post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

.harth-posts {
    list-style: none;
}

.harth-posts li {
    margin: 0 0 .5em 0;
}

.harth-label {
    margin: 0 .25em;
    background-color: #313131;
}

.harth-posts a.harth-label,
.harth-post-date a.harth-label {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.harth-post a {
    color: #c00;
}

.harth-comment {
    margin-top: 5em;
    margin-bottom: 0em;
    border-top: 2px solid #000;
}

/* Keyboard input */
.harth-key {
    padding: 2px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
    font-size: 90%;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -2px 0 #ccc;
    box-shadow: inset 0 -2px 0 #ccc;
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 1em;
}

/* Console output */
.harth-console-panel {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;    
    margin: 0px;
}
.harth-console {
    padding: 8px;
    margin: 0;
    line-height: 1.2;
    border-style: solid;
    border-width: 4px;
    border-color: #333;
    border-radius: 3px;    
    background-color: #444;
    color: #0c0;
    font-family: "Inconsolata", "monospace";
    font-size: 1em;
}

/* Highlighted code output */
div.highlight {
    display: block;
    padding: 0;
    margin: 0;
}
pre {
    padding: 1em;
    margin: 0em;
    line-height: 1.2;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: #333;
    background-color: inherit;
    color: inherit;    
    font-family: "Inconsolata", "monospace";
    font-size: 1em;
}
<!-- Highlight using Javascript -->
/*
.harth-code-panel {
    display: block;    
    padding-top: 1em;
    padding-bottom: 1em;    
    margin: 0;
    border: 0;
}
.harth-code-panel-inner {
    display: block;    
    padding-top: 0;
    padding-bottom: 0;    
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
}
.harth-code-panel-heading {
    padding-left: 11px;        
    padding-top: 3px;
    padding-bottom: 3px;    
    margin:  3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: #fff;
}
.harth-code-panel-body {
    padding: 0;
    margin: 3px;
    border-width: 0;    
}    
.harth-code-pre {
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
}
.harth-code:first-line {
    line-height: 0;
}
.harth-code {
    padding: 8px;
    margin: 0;
    line-height: 1.2;
    border-style: solid;
    border-width: 4px;
    border-color: #000;
    border-radius: 0;
    font-size: 1em;
}
*/